
<div class="main ajusteTop">

    <form asp-controller="Productos" asp-action="Buscar" class="input-group md-form form-sm form-2 pl-0">
        <input id="busqueda" class="form-control my-0 py-1" type="text" placeholder="Buscar" name="textoBusqueda">
        <div class="input-group-append">
            <button id="btnBuscar" class="btn btn-primary" value="Buscar" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

