@{
    ViewData["Title"] = "Información General";
}

@{
    ViewData["Mision"] = "Misión";
}

@{
    ViewData["Vision"] = "Visión";
}

@{
    ViewData["Origen"] = "Origen";
}

<h2 class="mt-5 text-center ">@ViewData["Title"]</h2>

<h3>@ViewData["Mision"]</h3>

<p>Proveer de todo tipo de material tecnológico tanto de hardware como de software.</p>

<h3>@ViewData["Vision"]</h3>

<p>Ser uno de los principales proveedores de material tecnológico del país.</p>

<h3>@ViewData["Origen"]</h3>

<p>
    TechnoDevice es una empresa nacional que nace mediante la iniciativa del emprededurismo conformada incialmente por 3 personas ,
    sin embargo a lo largo de los años su planilla ha aumentado considerablente conforme creció la demanda de productos solicitados
    por distintos clientes en todo el país a los cuales esta empresa brinda sus servicios de proveduria de productos tecnológicos,
    además ha logrado una gran expansión en todo el país abriendo varias sucursales en puntos estratégicos , finalmente es importante
    mencionar que TechnoDevice tiene como principal objetivo el buen servicio y la cercanía con el cliente , es por eso que nace este
    proyecto como una iniciativa en la busqueda de facilitar la adquisición de los productos tecnológicos que ofrece esta gran empresa.
</p>

