@{
    ViewData["Title"] = "Información General";
}

@{
    ViewData["Mision"] = "Misión";
}

@{
    ViewData["Vision"] = "Visión";
}

<h2 class="mt-5 text-center ">@ViewData["Title"]</h2>

<h3>@ViewData["Mision"]</h3>

<p>Proveer de todo tipo de material tecnológico tanto de hardware como de software.</p>

<h3>@ViewData["Vision"]</h3>

<p>Ser uno de los principales proveedores de material tecnológico del país.</p>
